
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #131313;
  /* min-height: 100vh; */
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(3800deg);
  }
}

body {
  margin: 0;
}

hNavBrand {
  font-family: Raleway;
  font-weight: bold;
  font-size: 30px;
  color: #e3e464;
  text-align: center;
  justify-content: center;
  z-index: 0;
}

hNav {
  padding: 5px 10px 5px 10px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 1.3rem;
  color: #e3e464;
  text-align: center;
  justify-content: center;
  z-index: 0;
}

hNav :hover {
  color: white
}

.h0 {
  
  font-family: Raleway;
  font-weight: bold;
  font-size: 40;
  color: white;
  text-align: center;
  justify-content: center;
  z-index: 0;
}
  .h0:hover {
    color: #4a93ff;
  }


h1 {
  
  font-family: Raleway;
  font-weight: bold;
  font-size: 40;
  color: #e3e464;
  text-align: center;
  justify-content: center;
  z-index: 0;
}

h2 {
  font-family: Raleway;
  font-weight: bold;
  font-size: 1.3rem;
  color: white;
  margin-top: 8px;
  text-align: center;
  line-height:  50%;
  z-index: 0;
}

h3 {
  font-family: Raleway;
  margin: 0; 
  padding: 10;
  color: white; 
  font-size: 25; 
  line-height: 1.2;
  opacity: 0; 
  animation: SubAnimation; 
  animation-duration: 1.8s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.projects {
	width: 100%;
	border: solid 1px #000000; 
	background-color: #1d1f2f;
	transition: all 0.5s ease-in-out;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

  .projects:hover {
	box-shadow: 0 5px 15px #4a93ff;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	opacity: 1;
  }

.profile {
  max-width: 400px;
  border: 1px solid #1d1f2f;
  width: 100%;
}

  .profile:hover {
    animation: App-logo-spin infinite 20s linear;
  }
intro {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin-top: 8px;
  text-align: left;
  line-height:  120%;
  z-index: 0;
}

.minicard {
  display: block;
  text-align: right;
  align-items: right;
  justify-content: right;
  width: 200px;
  background-color: #e3e464;
}

.year {
  padding: 0;
  display: block;
  max-width: 100px;
  margin: 0;
  text-align: center;
  background-color: #e3e464;
}

.maxcard {
  background-color: #1d1f2f;
}

.section {
  font-family: Raleway;
  font-weight: bold;
  font-size: 1.3rem;
  color: #e3e464;
  text-align: left;
  justify-content: center;
  z-index: 0;
}

 .job {
  width: fit-content;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 1.3rem;
  color: white;
  margin-top: 8px;
  text-align: center;
  line-height:  110%;
  z-index: 0;
}

.date {
  width: fit-content;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 1.3rem;
  color: white;
  margin-top: 8px;
  margin-left: auto;
  margin-right: 0;
  text-align: center;
  line-height:  110%;
  z-index: 0;
}

.job-title {
  width: fit-content;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 1.3rem;
  color: #4a93ff;
  margin-top: 8px;
  text-align: center;
  line-height:  110%;
  z-index: 0;
}

.describe {
  font-family: Open Sans;
  font-size: 1rem;
  color: white;
  margin-top: 8px;
  line-height: 140%
}
mark { 
  background-color:#e3e464; 
  opacity: 0.9;
  height: 50%; 
  display: inline-block; 
  height: 1em;
  line-height: 1; 
  padding-top: 0; 
}

.describeSmall {
  font-family: Open Sans;
  font-size: 0.8rem;
  color: white;
  margin-top: 8px;
  line-height: 120%
}

.skillsList {
  background-color:#fbfbf1;
  /*box-shadow: inset 0px 5px 10px 2px rgba(0,0,0,0.1);*/
  height: auto;
  border-radius: 50px;

}

.skillItem {
  font-family: 'Montserrat';
  color: whitesmoke;
  font-weight: bold;
  font-size: 1em;
  display: inline;
  padding: 0px 10px 0px 10px;
}

.skillItemSmall {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 0.8em;
  display: inline;
  padding: 8px;
}

.skillItemShape {
  background-color: #4a93ff;
  padding: 0px;
  margin-top: 6px;
  margin-right: 5px;
  margin-left:0px; 
  display: inline-block;
  border-radius: 0px;
}

.skillItemShape:hover {
  background-color: #000000;;
}


@keyframes SubAnimation  {
  0% {
    opacity: 0; 
    transform: translateX(-50vw);
  }
  30% {
    opacity: 1; 
    transform: translateX(0px);
  }
  70% {
    opacity: 1; 
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(50vw);
    /* transform: scale(0) */
    
  }
}

button {
	background: #fafa53;
	width: 80%;
	/* height: 50px;  */
	padding: 15px 10px 15px 10px; 
	margin-bottom: 10px;
	cursor: pointer;
	transition: all linear .2s;


}

button p {
    
		font-size: 1rem;
		line-height: 120%;
		color: black; 
    font-weight: bold;
    font-family: Montserrat;
    margin: 0 auto;
}

button:hover{
	background: #dada7a;
	color: white; 

}

@keyframes RollAnimation  {
  25% {
    opacity: 1;
    scale: 0.1; 
    transform: rotate(90deg);
  }
  50% {
    opacity: 1; 
    scale: 0.33;
    transform: rotate(180deg);
  }
  75% {
    opacity: 1; 
    scale: 0.7;
    transform: rotate(270deg);
  }
  100% {
    opacity: 0;
    transform: rotate(0deg);
    /* transform: scale(0) */
    
  }
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}







